NEXT_PUBLIC_SUPABASE_URL=https://zyjyncjukztdjzhjntkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5anluY2p1a3p0ZGp6aGpudGtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzI3NTIsImV4cCI6MjA3MDkwODc1Mn0.ZT9SJUvYWoh0djd7itkzAkdSfBvtkEmSJD7Ai550Zx0